* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2c3d51;
  font-family: 'Montserrat', sans-serif;
}

/* utility */
.container {
  width: 85%;
  max-width: 1800px;
  height: 100%;
  margin: auto;
    /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.list-inline li {
  display: inline-block;
}
.check-list {
  font-weight: 500;
  text-align: left;
}
.check-list li::before {
  content: "";
  display: inline-block;
  background: url("../img/orange-checkmark.svg") no-repeat;
  vertical-align: middle;
  width: 15px;
  height: 20px;
  margin-right: 10px;
}

h2.section-title {
  font-size: 35px;
}
h3 {
  font-size: 25px;
}
h4.popolar-feature {
  text-transform: uppercase;
  font-size: 18px;
  padding: 30px 0;
}

p.section-subtitle {
  font-size: 15px;
  line-height: 25px;
  margin: 30px 0;
  font-weight: 500;
}
p.info-bottom {
  width: 50%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 25px;
}

.img30 {
  width: 30%;
}
.img50 {
  width: 50%;
}
.img70 {
  width: 70%;
}


.float50 {
  width: 50%;
  float: left;
    /* border: 1px solid #000; */
}
.float-left {
  float: left;
    /* border: 1px solid #000; */
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: #f0785c;
  padding: 20px 25px;
}
.btn:hover {
  animation: button-brighter 0.8s forwards;
}
/* /utility */

/* keyframes */
@keyframes button-brighter {
  0% {
    background: #f0785c;
  }
  100% {
    background: #F6BBAC;
  }
}

@keyframes scale-block {
  0% {
    transform: scale(1);
    box-shadow: 0 0 11px #cad9e8;
  }
  100% {
    transform: scale(1.01);
    box-shadow: 0px 0px 11px 5px #cad9e8;
  }
}
/* /keyframes */

/* HEADER */
/* fixed-bar */
header #fixed-bar {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  font-size: 14px;
  background-color: #FDF1EE;
  border-bottom: 1px solid #425B76;
}

/* fixed-left */
.fixed-bar-left li:first-child > a {
  border-right: 2px solid #2c3d51;
  padding-right: 10px;
  margin-right: 10px;
}
.fixed-bar-left a:hover {
  color: #2E7A8C;
  text-decoration: underline;
}
/* /fixed-left */

/* fixed-right */
.fixed-bar-right {
  text-align: right;
}

.fixed-bar-right li {
  margin-left: 10px;
}
.fixed-bar-right .search-button {
  color: #41A5BD;
  cursor: pointer;
}

a.logIn-button,
a.btn-top {
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: bold;
}
a.logIn-button {
  color: #f0785c;
  background: #fff;
  border: 1px solid #f0785c;
}
a.btn-top {
  color: #fff;
  background: #f0785c;
}
a.btn-top:hover {
  animation: button-brighter 0.5s forwards;
}
/* /fixed-right */
/* /fixed-bar */


/* logo & navbar */
header #logo-navbar {
  margin-top: 70px;
  height: 70px;
  line-height: 70px;
}

/* logo */
#logo-navbar .logo-container img {
  vertical-align: middle;
}
/* /logo */
/* navbar */
#logo-navbar .navbar {
  text-align: right;
}

#logo-navbar .navbar a {
  margin-right: 15px;
  word-spacing: 8px;
}
#logo-navbar .navbar a:hover {
  color: #2E7A8C;
}
/* /navbar */
/* /logo & navbar */

/* jumbotron */
header #jumbotron {
  height: 695px;
  width: 100%;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-color: #FEF4EF;
  background-repeat: no-repeat;
  background-position: top right;
}

#jumbotron .introduction {
  width: 40%;
  padding-top: 40px;
}

.introduction > h1 {
  font-size: 45px;
  font-family: arial;
}

.introduction > a.btn {
  width: 50%;
}

#jumbotron::after {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background: #9bede4;
  border-top: 3px solid #425B76;
  border-bottom: 3px solid #425B76;
}
/* /jumbotron */

/* /HEADER */

/* MAIN */
main > #packages {
  background: #F5F8FA;
  padding-bottom: 50px;
}

/* packages-top */
#packages .packages-top {
  padding: 50px 0 30px;
  text-align: center;
}

.packages-top p {
  width: 70%;
  margin: 15px auto;
}
/* /packages-top */

/* packages-middle */
#packages .packages-middle {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 11px #cad9e8;
  margin-bottom: 50px;
  padding: 30px;
}

/* middle-left */
.packages-middle > .packages-middle-left {
  width: 30%;
  text-align: center;
}

.packages-middle-left > img {
  display: block;
  margin: 0 auto 20px;
}
/* /middle-left */

/* middle-right */
.packages-middle > .packages-middle-right {
  height: 100%;
  width: 70%;
}

.packages-middle-right > p {
  margin: 30px 0 0;
  line-height: 26px;
}

.separator h4.popolar-feature {
  width: 30%;
  display: inline-block;
}
.separator hr {
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  border-color: #899397;
  border-style: solid;
}

.packages-middle-right ul li{
  padding-left: 20px;
}
/* /middle-right */
/* /packages-middle */

/* packages-bottom */
.packages-middle:hover,
.left-col:hover,
.middle-col:hover,
.right-col:hover {
  animation: scale-block 0.3s forwards;
}

.left-col,
.middle-col,
.right-col {
  width: 30%;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 11px #cad9e8;
  background: #fff;
}
.left-col > img,
.middle-col > img,
.right-col > img {
  width: 110px;
  height: 110px;
}
.middle-col {
  margin: 0 5%;
}

.packages-bottom h3.title-col {
  margin-top: 20px;
}
.packages-bottom p.paragraph-col {
  line-height: 26px;
  font-size: 15px;
  padding: 20px 0 50px;
  border-bottom: 2px solid #899397;
}
.packages-bottom ul.check-list {
  margin-bottom: 50px
}
/* /packages-bottom */

/* learn-and-grow */
#learn-grow{
  padding: 90px 0;
  background: linear-gradient(45deg, #41A5BC, #58BEA7);
  text-align: center;
  color: #fff;
}

.learn-grow-bottom .row:first-child {
  border-bottom: 2px solid #fff;
}

.row .row-item {
  width: calc(100% / 4);
  border-right: 2px solid #fff;
}
.row .row-item:last-child {
  border: 0;
}

.row .row-item img {
  height: 40px;
  margin-top: 15px;
}

.row-item .customer-number {
  display: block;
  margin: 15px 0;
  font-size: 45px;
  font-weight: bold;
}
.row-item .customer-number.plus-after::after {
  content: "+";
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  margin-left: 5px;
}

.row-item h5 {
  margin-bottom: 15px;
}
/* /learn-and-grow */


/* customers */
main > #customers {
  padding: 70px 0;
}

/* top */
#customers .customers-top {
  margin: 0 60px;
}

.customers-top .n-customers {
  width: 25%;
  float: left;
}
.n-customers > h2 {
  font-size: 40px;
  padding-top: 15px;
}

.customers-top .brands {
  width: 65%;
  float: right;
  text-align: center;
}

.brands .brands-row {
  height: 100px;
  line-height: 100px;
}

.brands-row .brand-item {
  width: calc(100% / 4);
  float: left;
}
.brands-row .brand-item img {
  vertical-align: middle;
}
/* /top */


/* bottom */
#customers  .customers-bottom {
  padding: 30px 0;
}

.customers-bottom .start-growing {
  width: 40%;
  float: left;
  padding-top: 40px;
}

.customers-bottom .customer-picture {
  width: 50%;
  float: right;
  text-align: right;
}
/* /bottom */
/* /customers */
/* /MAIN */

/* FOOTER */
footer #footer {
  padding: 70px 0;
  color: #cbd6e2;
  background: #2D3E50;
    height: 600px;
}

/* footer-top */
#footer .footer-top {
  width: 100%;
  padding: 20px 0;
}

.footer-top .ul-item {
  width: calc(100% / 4);
}

.ul-item .list-top {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}
.ul-item li:not(.list-top) {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 15px;
}
.ul-item li > a:not(#contact-btn):hover {
  text-decoration: underline;
}
.ul-item li > a#contact-btn {
  display: inline-block;
  font-size: 13px;
  color: #32495B;
  border-radius: 4px;
  padding: 10px;
  background: #DADEE0;
}

/* loghi social */
.ul-item li > .social-container {
  width: 70%;
}
.social-container .social-item {
  width: calc(100% / 5);
}
/* /loghi social */
/* /footer-top */
